.form__container {
  background-color: var(--White);
  padding: 3.5rem;
  border-radius: 1rem;
  width: 45%;
}

@media (max-width: 75em) {
  .form__container {
    width: 60%;
  }
}

@media (max-width: 50em) {
  .form__container {
    width: 80%;
  }
}

@media (max-width: 28.125em) {
  .form__container {
    width: 90%;
  }
}

.form__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 3rem;
}

.grid--full {
  grid-column: 1 / span 2;
}

.row-flex {
  display: flex;
  gap: 1.6rem;
}

.error-message {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: var(--Red);
}

@media (max-width: 37.5em) {
  .form__content {
    display: flex;
    flex-direction: column;
  }

  .row-flex {
    flex-direction: column;
  }
}
