.input__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container--check,
.input-container--radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-container--radio:has(input[type="radio"]:checked) {
  background-color: var(--Green-200);
  border-color: var(--Green-600);
  box-shadow: inset 0 0 0 1px var(--White);
}
.input-container--check label,
.input-container--radio label {
  cursor: pointer;
  display: flex;
}

.input-container--check input[type="checkbox"],
.input-container--radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.input-container--radio label::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 2px solid var(--Grey-500);
  margin-right: 2rem;
  transition: all 0.2s ease;
}

.input-container--check label::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--Grey-500);
  margin-right: 2rem;
  border-radius: 2px;
  transition: 0.2s ease;
  color: transparent;
  font-size: 8px;
}

.input-container--radio label:hover::before,
.input-container--radio:hover input[type="radio"] + label::before {
  border: 2px solid var(--Green-600);
}

.input-container--check label:hover::before,
.input-container--check input[type="checkbox"]:hover + label::before {
  border-color: var(--Green-600);
}

.input-container--radio input[type="radio"]:checked + label::before {
  box-shadow: inset 0 0 0 2.5px var(--Green-200);
  border: 2px solid var(--Green-600);
  background-color: var(--Green-600);
}

.input-container--check input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color: var(--Green-600);
  border-color: var(--Green-600);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Green-200);
}

.input-container--check.input--disabled label:hover::before,
.input-container--check.input--disabled:hover
  input[type="checkbox"]
  + label::before,
.input-container--radio.input--disabled:hover
  input[type="radio"]
  + label::before {
  border-color: var(--Grey-500);
}

.input-container--check.input--disabled label,
.input-container--check.input--disabled input[type="checkbox"],
.input-container--radio.input--disabled label,
.input-container--radio.input--disabled input[type="radio"] {
  cursor: default;
}

.float-label {
  color: var(--Grey-900);
  font-size: 1.4rem;
}

.float-label span {
  color: var(--Green-600);
  margin-left: 0.5rem;
}

.input {
  background-color: var(--White);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid var(--Grey-500);
  caret-color: var(--Green-600);
  color: var(--Grey-900);
  width: 100%;
}

.input:hover,
input:focus {
  border-color: var(--Green-600);
}

.input--text-area {
  height: 10rem;
  resize: none;
}

.input--invalid {
  border-color: var(--Red) !important;
}

.input--disabled {
  opacity: 0.7;
}

.input--disabled.input:hover {
  cursor: default;
  border-color: var(--Grey-500);
}
